#columnaUpload {
	padding-bottom: 600px;
	margin-top: 20px;
	background-color: #ad7fa8;
}
#columnaTexto {
	padding-bottom: 620px;
	background-color: red;
}
#columnaOpciones {
	padding-bottom: 600px;
	margin-top: 20px;
	background-color: green;
}
#filaKeywords {
	padding-bottom: 100px;
	background-color: blue;
}